*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

body {
    background-image: url(../../imagens/sprites/background/fundoPagina.png)
}

.divVolumeControl {
    background-color: black;
    box-shadow: 0px 0px 1px 1px white;
    position: absolute;
    top: 100%;
    margin-top: -39px;
    left: 5px;
    border-radius: 10px;
    opacity: 0.5;
    width: 34px;
    padding: 5px;
    height: 34px;
    transition: 0.25s all;
}

.imgVolumeControl {
    opacity: 1;
    cursor: pointer;
}



.inputVolumeControl {
    -webkit-appearance: none;
    background: white;
    outline: none;
    position: absolute;
    top: 50%;
    margin-top: -5px;
    visibility: hidden;
    margin-left: 5px;
    width: 110px;
}

.inputVolumeControl::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: #EA2400;
    cursor: pointer;
}

.inputVolumeControl::-moz-range-thumb {
    background: #EA2400;
    cursor: pointer;
}