.portal{
    background-image: url(../../imagens/sprites/portal/portal.gif);
    width: 50px;
    height: 50px;
}

.gameBar {
    width: 1050px;
    height: 50px;
    background-image: url(../../imagens/sprites/gameBar/backgroundBar.png);
    border: 4px solid rgb(165, 0, 0);
}

.divBar {
    width: 256px;
    height: 50px;
    display: inline-block;
    margin-top: -3px;
}

#barLife {
    padding-left: 45px;
}

#barLife .spanGameBar {
    margin-left: -20px;
}

#barTime {
    padding-left: 110px;
}

#spanTempo {
    margin-left: -20px;
}

.spanGameBar {
    cursor: default;
    margin-right: 5px;
    color: white;
    text-shadow: 0px 0px 4px black;
    font-family: monospace;
    font-weight: bold;
    font-size: 25px;
    position: absolute;
    margin-left: -25px;
    margin-top: 6px;
}

.divBar img {
    height: 40px;
    vertical-align: super;
    padding-right: 25px;
    padding-left: 5px;
}

.divDownGrade {
    float: right;
    opacity: 0;
    margin-right: 40px;
}

#barPoints .spanGameBar {
	margin-left: 20px;
	margin-top: 10px;
}

#pontuacao {
    padding: 2px 10px;
    margin-left: 10px;
    background-color: black;
    border-radius: 10px;
    border: 2px solid rgb(165, 0, 0);
}

.paredes{
    margin-top: 50px;
    width: 50px;
    height: 50px;
    position: absolute;
}

#parede1 {
	background-image: url(../../imagens/sprites/blocos/parede1.png);
}

#parede2 {
	background-image: url(../../imagens/sprites/blocos/parede2.png);
}

#parede3 {
	background-image: url(../../imagens/sprites/blocos/parede3.png);
}

#parede4 {
	background-image: url(../../imagens/sprites/blocos/parede4.png);
}

.bloco{
    width: 100%;
    height: 100%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    position: relative;
}

.blocoQuebravel{
    width: 100%;
    height: 100%;
    position: relative;
}

.painelJogo{
    width: 1050px;
    height: 700px;
    margin: auto;
    box-shadow: 0px 5px 10px rgb(165, 0, 0);
    top: 50%;
    margin-top: -350px;
    position: relative;
}

#solo{
    margin-top: 50px;
    width: 950px;
    height: 550px;
    display: flex;
    flex-direction: column;
    background-image: url(../../imagens/sprites/blocos/solo.png);
    background-repeat: no-repeat;
    position: absolute;
}

.linhas{
    width: 100%;
    height: 50px;
    display: flex;
    position: relative;
}

.colunas{
    width: 50px;
    height: 100%;
}

.powerUp{
    width: 100%;
    height: 100%;
}

.faseView {
    width: 1050px;
    height: 650px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
    transition: all 0.5s;
}

.faseView.in {
    opacity: 1;
}

.faseAtual {
    position: absolute;
    background-image: url(../../imagens/sprites/gameBar/backgroundBar.png);
    border: 4px solid rgb(165, 0, 0);
    box-shadow: 0px 5px 10px rgb(165, 0, 0);
    border-radius: 20px;
    text-align: center;
    width: 300px;
    height: 150px;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -75px;
}

.pFase1 {
    font-size: 40px;
    font-family: AlienAbduction;
    color: #fff;
    text-shadow: 1px 2px 2px black;
    cursor: default;
    margin: 18px;
}

.pFase2 {
    font-size: 30px;
    font-family: AlienAbduction;
    color: #fff;
    text-shadow: 1px 2px 2px black;
    cursor: default;
    margin: 18px;
}

.spanBoaSorte {
    font-size: 40px;
}