.monstrosTipoUm{
    position: absolute;
    z-index: 9997;
    width: 50px;
    height: 50px;
    background: url(../../imagens/sprites/monstro/frente.png);
}

.monstrosTipoDois{
    position: absolute;
    z-index: 9997;
    width: 50px;
    height: 50px;
    background: url(../../imagens/sprites/monstro/frente.png);
}

.monstrosTipoTres{
    position: absolute;
    z-index: 9997;
    width: 50px;
    height: 50px;
    background: url(../../imagens/sprites/monstro/frente.png);
}

.noFilter {
    filter: none;
    -webkit-filter: none;
}

.grayscale {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.invert {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.huerotateRosa {
    filter: hue-rotate(180deg);
    -webkit-filter: hue-rotate(180deg);
}

.huerotateVermelho {
    filter: hue-rotate(260deg);
    -webkit-filter: hue-rotate(260deg);
}