@font-face {
    font-family: AlienAbduction;
    src: url('../fontes/CFAlienAbduction-Regular.ttf');
}
@font-face {
    font-family: Comfortaa;
    src: url('../fontes/Comfortaa-Regular.ttf');
}
