*{
    margin: 0px;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}

body{
    background: url(../../imagens/index/body.jpg) repeat;
    overflow-x: hidden;
    overflow-y: hidden;        
}

#divFundo{
    position: absolute;
}

#corpoInteiro {
    position: absolute;
}

.imgFundo{
    position: relative;
    width: 100%;
    height: 100%;
}

.divLogo{
    position: absolute;
    width: 500px;
    height: 530px;
    transition: 0.5s all;
}

.imgLogo{
    position: relative;
    width: 500px;
    height: 500px;
    cursor: pointer;
    transition: 0.5s all;
}

.aviso{
    position: relative;
    display: inline-block;
    font-size: 20px;
    font-family: Comfortaa;
    letter-spacing: 2px;
    color: white;
    text-align: center;
    margin-top: -20px;
    margin-left: 60px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    cursor: default;
}

span{
    animation-name: pisca;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes pisca {
    5%   {-webkit-text-stroke-color:yellow;}
    33%  {-webkit-text-stroke-color:red;}
    66%  {-webkit-text-stroke-color:blue;}
    100%  {-webkit-text-stroke-color:green;}
}
