*{
    font-family: Comfortaa;
    font-weight: bolder;
}

.tituloDivDificuldades{
    font-size: 30px;
    font-family: AlienAbduction;
    color: #EA2400;
    text-shadow: 1px 1px 2px black;
    cursor: default;
    text-align: center;
    margin-bottom: 17px;
    margin-top: 30px;
}

.opcoesDificuldade{
    border-radius: 20px;
    box-shadow: 1px 1px 5px 1px #EA2400;
    background-color: rgba(255, 255, 255, 0.960);
    width: 350px;
    height: 410px;
    transition: 0.4s all;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu{
    width: auto;
    height: auto;
    display: none;
    position: absolute;
    flex-direction: row;
    justify-content: space-around;
    left: 50%;
    top: -200%;
	margin-left: -441px;
	margin-top: -205px;    
    transition: 0.4s all;
}

.ranking{
    border-radius: 20px;
    box-shadow: 1px 1px 5px 1px #EA2400;
    background-color: rgba(255, 255, 255, 0.960);
    width: auto;
    height: auto;
    margin-left: 30px;
    transition: 0.4s all;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 30px 10px 30px;
}

#registrosRanking{
    display: flex;
    flex-direction: column;
}

.suaPosicao{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid green;
    border-radius: 20px;
    box-shadow: 1px 1px 5px 1px green;
    margin-top: 20px;
    text-align: center;
    color: green;
}

.itemRanking{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 1px 1px 5px 1px #EA2400;
    border: 1px solid #EA2400;
    margin-bottom: 8px;
    text-align: center;
}

.rankingExplicacao{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #EA2400;
    margin-bottom: 12px;
    text-align: center;
    color: #EA2400;
}

.posicaoW{width: 65px; height: 30px; line-height: 30px;}
.nomeW{width: 250px; height: 30px; line-height: 30px;}
.pontuacaoW{width: 125px; height: 30px; line-height: 30px;}

.btn{
    margin-bottom: -10px;
}

.m-b-10{
    margin-bottom: 0px;
}

.pOu{
    margin-top: -20px;
    margin-bottom: 10px;
}

.btnLogout{
    background-color: rgb(22, 70, 202);
    font-family: Comfortaa;
    font-weight: bolder;
}