.divLogin {
    display: none;
    border-radius: 20px;
    box-shadow: 1px 1px 5px 1px #EA2400;
    background-color: rgba(255, 255, 255, 0.900);
    position: absolute;
    width: 350px;
    height: 410px;
    top: 130%;
    left: 50%;
    margin-left: -175px;
    margin-top: -200px;
    padding: 20px;
    transition: 0.4s all;
}

table {
    width: 100%;
}

th, td {
    padding: 5px;
}

.titleLogin {
    font-size: 30px;
    font-family: AlienAbduction;
    color: #EA2400;
    text-shadow: 1px 1px 2px black;
    cursor: default;
}

.subtitleLogin {
    font-size: 12px;
    font-family: Comfortaa;
    color: gray;
    cursor: default;
}

.tdNome {
    font-family: Comfortaa;
    text-align: center;
}

.tdSenha {
    font-family: Comfortaa;
    text-align: center;
}

.eye {
    opacity: 0.5;
    margin-top: 6px;
    margin-left: 240px;
    position: absolute;
    cursor: pointer;
}

.tdLembrarDados {
    padding: 8px 0px 10px 20px;
    font-family: Comfortaa;
}

.pNomeEntrar {
    font-size: 10px;
    text-align: left;
    padding-left: 8px;
    display: none;
}

.pNomeEntrar img {
    vertical-align: text-bottom;
    background-color: #EA2400;
    padding: 2px;
    border-radius: 100%;
    margin-top: 5px;
}

.pNomeEntrar span {
    color: #EA2400;
    text-shadow: 0px 0px 0px black;
    padding-left: 4px;
}

.pSenhaEntrar {
    font-size: 10px;
    text-align: left;
    padding-left: 8px;
    display: none;
}

.pSenhaEntrar img {
    vertical-align: text-bottom;
    background-color: #EA2400;
    padding: 2px;
    border-radius: 100%;
    margin-top: 5px;
}

.pSenhaEntrar span {
    color: #EA2400;
    text-shadow: 0px 0px 0px black;
    padding-left: 4px;
}

.tdNomeEntrar {
    padding: 5px;
}

.tdSenhaEntrar {
    padding: 5px;
}

.inputEntrar {
    width: 270px;
    padding: 10px;
    border-radius: 5px;
}

.inputEntrar:focus {
    outline: none;
}

.inputNomeEntrar {
    border: 1px inset lightgray;
}

.inputSenhaEntrar {
    border: 1px inset lightgray;
}

.trBtnDefault {
    text-align: center;
}

.btnDefault {
    letter-spacing: 2px;
    background-color: #EA2400;
    color: white;
    font-family: AlienAbduction;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    width: 250px;
    padding: 10px;
    border: 2px solid transparent;
    cursor: pointer;
    border-radius: 5px;
    box-sizing: content-box;
    transition: 0.5s all;
}

.btnDefault:hover {
    text-shadow: 2px 2px 2px black;
    border: 2px solid #600000;
}

.tdConvidado {
    font-family: Comfortaa;
    text-align: center;
    width: 250px;
}

.pCursorDefault {
    cursor: default;
}

.tdCadastrar {
    text-align: center;
    padding-top: 10px;
    font-size:15px;
    font-family: Comfortaa;
}

.spanCadastrar {
    color: #EA2400; 
    font-weight: bolder;
    text-decoration: none;
    cursor: pointer;
}

.tdCadastrar span:hover {
    text-decoration: underline;
}

input {
    text-align: center;
    font-family: Comfortaa;
}

input[type="text password"]::placeholder {  

    text-align: center; 
}

.tooltip {
    position: absolute;
    display: inline-block;
  }
  
.tooltip .tooltiptext {
    font-size: 10px;
    visibility: hidden;
    width: 100px;
    background-color: #000000BB;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    margin-left: 200px;
    margin-top: -15px;
    position: absolute;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.divEntrar {
    transition: 0.5s all;
    position: absolute;
    padding: 0px 11px;
    visibility: visible;
    opacity: 1;

}

.divCadastrar {
    transition: 0.5s all;
    position: absolute;
    padding: 0px 11px;
    visibility: hidden;
    opacity: 0;
}

.tdCadastro {
    font-family: Comfortaa;
    text-align: center;
}

.tdNomeCadastro {
    padding: 5px;
}

.tdSenhaCadastro {
    padding: 5px;
}

.tdConfSenhaCadastro {
    padding: 5px;
}

.tdEmailCadastro {
    padding: 5px;
}

.inputCadastro {
    width: 270px;
    padding: 10px;
    border-radius: 5px;
}

.inputCadastro:focus {
    outline: none;
}

.inputNomeCadastro {
    border: 1px inset lightgray;
}

.inputSenhaCadastro {
    border: 1px inset lightgray;
}

.inputConfSenhaCadastro {
    border: 1px inset lightgray;
}

.inputEmailCadastro {
    border: 1px inset lightgray;
}

.fecharSpan{
    position: absolute;
    font-family: AlienAbduction;
    color: white;
    text-align: center;
    padding-left: 5px;
    padding-top: 2.5px;
    top: 0.4px;
    z-index: 1;
}

.fecharDiv{
    position: absolute;
    background-color: #EA2400;
    width: 23px;
    height: 23px;
    border-radius: 4px;
    right: 17px;
    cursor: pointer;
}

.fecharDiv:active{
    position: absolute;
    background-color: #EA2400;
    width: 22px;
    height: 22px;
    border-radius: 4px;
    right: 17px;
}

.pNomeCadastro {
    font-size: 10px;
    text-align: left;
    padding-left: 8px;
    display: none;
}

.pNomeCadastro img {
    vertical-align: text-bottom;
    background-color: #EA2400;
    padding: 2px;
    border-radius: 100%;
    margin-top: 5px;
}

.pNomeCadastro span {
    color: #EA2400;
    text-shadow: 0px 0px 0px black;
    padding-left: 4px;
}

.pSenhaCadastro {
    font-size: 10px;
    text-align: left;
    padding-left: 8px;
    display: none;
}

.pSenhaCadastro img {
    vertical-align: text-bottom;
    background-color: #EA2400;
    padding: 2px;
    border-radius: 100%;
    margin-top: 5px;
}

.pSenhaCadastro span {
    color: #EA2400;
    text-shadow: 0px 0px 0px black;
    padding-left: 4px;
}

.pConfSenhaCadastro {
    font-size: 10px;
    text-align: left;
    padding-left: 8px;
    display: none;
}

.pConfSenhaCadastro img {
    vertical-align: text-bottom;
    background-color: #EA2400;
    padding: 2px;
    border-radius: 100%;
    margin-top: 5px;
}

.pConfSenhaCadastro span {
    color: #EA2400;
    text-shadow: 0px 0px 0px black;
    padding-left: 4px;
}

.pEmailCadastro {
    font-size: 10px;
    text-align: left;
    padding-left: 8px;
    display: none;
}

.pEmailCadastro img {
    vertical-align: text-bottom;
    background-color: #EA2400;
    padding: 2px;
    border-radius: 100%;
    margin-top: 5px;
}

.pEmailCadastro span {
    color: #EA2400;
    text-shadow: 0px 0px 0px black;
    padding-left: 4px;
}

.divVolumeControl {
    background-color: black;
    box-shadow: 0px 0px 1px 1px white;
    position: relative;
    top: 100%;
    margin-top: -39px;
    left: 5px;
    border-radius: 10px;
    opacity: 0.5;
    width: 34px;
    padding: 5px;
    height: 34px;
    transition: 0.25s all;
}

.imgVolumeControl {
    opacity: 1;
    cursor: pointer;
}

.inputVolumeControl {
    -webkit-appearance: none;
    background: white;
    outline: none;
    position: absolute;
    top: 50%;
    margin-top: -5px;
    visibility: hidden;
    margin-left: 5px;
    width: 110px;
}

.inputVolumeControl::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: #EA2400;
    cursor: pointer;
}

.inputVolumeControl::-moz-range-thumb {
    background: #EA2400;
    cursor: pointer;
}

.divCadastroRealizado {
	width: 300px;
    height: 160px;
    top: 50%;
    left: 50%;
    margin-top: -80px;
    margin-left: -150px;
	text-align: center;
    transition: 0.5s all;
    position: absolute;
    padding: 0px 11px;
    visibility: hidden;
    opacity: 0;
}

.pCadastroRealizado {
	font-size: 30px;
    font-family: AlienAbduction;
    color: #EA2400;
    text-shadow: 1px 1px 2px black;
    cursor: default;
    padding-bottom: 10px;
}

/* Flex */
.flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-item-1 {
	flex: 1;
}

/* Flex Item */
.item {
	text-align: center;
    font-size: 1.5em;
    margin: 0 5px;
}

.container {
	max-width: 700px;
	margin: 0px;
}

.divBoasVindas {
    text-align: center;
    transition: 0.5s all;
    visibility: hidden;
    opacity: 0;
    margin-top: 5px;
}

.divDificuldades {
	width: 310px;
	height: 260px;
	margin-top: 35px;
}

.pDificuldades {
	font-size: 30px;
    font-family: AlienAbduction;
    color: #EA2400;
    text-shadow: 1px 1px 2px black;
    cursor: default;
    margin-bottom: 50px;
}

.divisoria {
	width: 2px;
	heigth: 335px;
	background-color: #EA2400;
	border-radius: 2px;
}

.divRanking {
	width: 400px;
}

.pRanking {
	font-size: 30px;
    font-family: AlienAbduction;
    color: #EA2400;
    text-shadow: 1px 1px 2px black;
    cursor: default;
    padding-bottom: 10px;
}

ol li {
	font-family: monospace;
	text-align: justify;
	cursor: default;
	color: #EA2400;
	padding-top: 5px;
}

.nomeRanking {
	font-family: Comfortaa;
	color: black;
}

.completaRanking {
	display: inline-flex;
	width: 0px;
	heigth: 10px;
	border-bottom: 3px dotted black;
}

.pontosRanking {
	font-family: Comfortaa;
	float: right;
}